/*------------------------------------*\
    BLOG
\*------------------------------------*/

.blog_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  justify-items: center;
  margin-top: 40px;

 }
 .blog_wrapper img {

     @include breakpoint(landscape) {
         width: 95%;
     }

     @include breakpoint(medium) {
         width: 95%;
     }

     @include breakpoint(smaller-screen) {
         width: 95%;
     }

     @include breakpoint(portrait) {
         width: 95%;
     }

     @include breakpoint(small) {
         width: 95%;
     }

     @include breakpoint(large-mobile) {
         width: 95%;
     }


     @include breakpoint(mobile) {
 		width: 95%;
 	}
}

.blog_wrapper h2 {
    text-align: left;
    margin: 10px 0 10px 0;

}



.blog_wrapper h3 {
    font-style: $style-italic;
    font-size: em(18px);

    @include breakpoint(regular-screen) {
        font-size: em(18px);
        padding-left: 10px;
    }

    @include breakpoint(landscape) {
        font-size: em(17px);
        padding-left: 10px;
    }

    @include breakpoint(medium) {
        font-size: em(17px);
        padding-left: 10px;
    }

    @include breakpoint(smaller-screen) {
        font-size: em(16px);
        padding-left: 10px;
    }

    @include breakpoint(small) {
        font-size: em(14px);
        padding-left: 10px;
    }

    @include breakpoint(large-mobile) {
        font-size: em(14px);
        padding-left: 10px;
    }

    @include breakpoint(mobile) {
		font-size: em(12px);
		padding-left: 10px;
    }
}
