/*------------------------------------*\
    BLOG
\*------------------------------------*/

.blog_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-items: center;
  margin-top: 40px;

 }
 .blog_wrapper img {

     @include breakpoint(landscape) {
         width: 95%;
     }

     @include breakpoint(medium) {
         width: 95%;
     }

     @include breakpoint(smaller-screen) {
         width: 95%;
     }

     @include breakpoint(portrait) {
         width: 95%;
     }

     @include breakpoint(small) {
         width: 95%;
     }

     @include breakpoint(large-mobile) {
         width: 95%;
     }


     @include breakpoint(mobile) {
 		width: 95%;
 	}
}
