
/* space between intro and about section */
.welcome p {
    margin-bottom: 20px;
}


/* About Wayne and Cece */
.about_clarks {
    background: $accent;
    padding: 10px 10px 60px 10px;

}

.about_clarks h2 {
    margin: 0;
}


.about_clarks img {
    float: right;
    padding:  0px 10px;


    @include breakpoint(small) {
        width: 425px;
        padding-left: em(10px);
        padding-bottom: em(10px);
    }

    @include breakpoint(large-mobile) {
        width: 425px;
        padding-right: em(20px);
        padding-bottom: em(10px);
    }

    @include breakpoint(mobile) {
        width: 320px;
        padding-right: em(10px);
        padding-bottom: em(10px);
   }
 }

.about_clarks p {
    padding-bottom: 20px;
}



/* Let Wayne and Cece design something for you*/

.card-wrapper a {
    color: $buttonfont;
    border-style: solid;
    font-size: em(40px);
    font-weight: $light;
    background: rgba(0,0,0, 0.5);
    padding: 10px;

    @include breakpoint(smaller-screen) {
        font-size: em(32px);
    }

    @include breakpoint(portrait) {
        font-size: em(30px);
    }

    @include breakpoint(small) {
        font-size: em(25px);
    }

    @include breakpoint(large-mobile) {
        font-size: em(25px);
    }

    @include breakpoint(mobile) {
        font-size: em(25px);
    }
}


.card-wrapper a:hover {
    background: $link;
    text-decoration: none;
}
