/*------------------------------------*\
    #THEME
\*------------------------------------*/

// COLOR
$primary        : $black;
$button         : $lightNavyBlue;
$buttonfont     : $white;
$accent         : $putty;




// TYPOGRAPHY





// SPACING, MARGINS, AND PADDING
