/*------------------------------------*\
    #THEME
\*------------------------------------*/

// COLOR
$primary        : $black;
$button         : $lightNavyBlue;
$buttonfont     : $white;
$herofont       : $white;
$accent         : $putty;
$link           : $brightblue;




// TYPOGRAPHY





// SPACING, MARGINS, AND PADDING
