/*------------------------------------*\
    HOVER EFFECT ON HOME PAGE IMGS
\*------------------------------------*/

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.design__img:hover .image {
  opacity: 0.3;
}
